page-change-email {
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #f8f8f8;
  }

  .item-md {
    color: #676767;
  }

  .card-md{
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .card-md p{
    color: #8a6d3b;
  }
}
