premium-service-filter {
  ion-header{
    top: 10%;
    left: 5%;
    width: 90%;
  }
  ion-content{
    top: 10%;
    left: 5%;
    width: 90%;
    max-height: 70%;
  }
  ion-footer{
    bottom: 15%;
    left: 5%;
    width: 90%;
  }
  background: rgba(0,0,0,0.5);
}
