<ion-header style="">
  <ion-navbar>
    <ion-title>Premium Service Filter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-item>
      <ion-label floating>Service Name</ion-label>
      <ion-input [(ngModel)]="filterData.serviceName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Order Id</ion-label>
      <ion-input [(ngModel)]="filterData.orderId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Expiry Date</ion-label>
      <ion-datetime displayFormat="DD - MMM - YYYY" [(ngModel)]="filterData.expiryDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Remaining Days</ion-label>
      <ion-input [(ngModel)]="filterData.remainingDays"></ion-input>
    </ion-item>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button color="dark" clear (click)="closeModal()">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button clear (click)="doFilter()">Filter</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
