page-all-leads {
  .list .item{
    padding-left: 3px;
    color: #6b6b6b;
  }
  .button-outline-md-light, .button-outline-ios-light {
    border-color: transparent;
    color: #383838;
    background-color: transparent;
  }
}
